body {
  font-family: "Roboto", sans-serif;
  background-color: #faf8fc;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  width: 480px;
  background: white;
  margin: 50px auto;
  padding: 40px 50px;
  border-radius: 20px;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
  text-align: center;
}

.logo {
  width: 450px;
  border-radius: 20px;
  margin-bottom: 20px;
}

h1 {
  font-weight: 700;
  color: #454545;
  margin-bottom: 30px;
  font-size: 28px;
}

.form-box {
  width: 100%;
  text-align: left;
}

label {
  display: block;
  margin-top: 15px;
  margin-bottom: 8px;
  font-weight: 500;
  color: #4a2a69;
  font-size: 15px;
}

input[type="file"]::file-selector-button {
  background-color: #874caf;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.input-file {
  margin-bottom: 15px;
}

.text-input {
  width: 95%;
  padding: 10px 12px;
  font-size: 15px;
  border: 1.8px solid #caa4df;
  border-radius: 8px;
  outline: none;
  transition: 0.2s;
}

.text-input:focus {
  border-color: #874caf;
  box-shadow: 0 0 5px rgba(135, 76, 175, 0.35);
}

.note {
  font-size: 13px;
  color: rgb(194, 55, 194);
  margin-top: 20px;
  text-align: center;
}
